<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miya Kids Salon</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<body>
    <header id="main-header">
        <div class="header-pinky-cover">
            <div class="greetings">
                <h1>Miya Kids Salon</h1>
                <div id="greetings-description">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and 
                        typesetting industry. Lorem Ipsum has been the industry's 
                        standard dummy text ever since the 1500s, when an unknown 
                        printer 
                    </p>
                </div>
            </div>
            <nav class="main-navigation-bar">
                <span id="logo">Logo</span>
                <ul class="nav-links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Orders</a></li>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">Our Services</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>